
@{
    Layout = "~/Views/Shared/_QuizLayout.cshtml";
    ViewData["Title"] = "Index";
}
<style>
    .pull-left {
        float: left!important;
    }
    #topbar > .pull-left {
        line-height: 98px;
    }
    .container {
        width: 2000px;
    }
    .quiz-nav {
        background-color: white;
        padding: 9px 10px;
        margin-right: 24px;
        font-family: "Montserrat", sans-serif;
        font-size: 11px;
        color: black;
        transition: background-color 0.5s ease;
        border-radius: 3px;
    }
    .title {
        color: white;
        text-align: center;
        padding: 20px 10px;
    }
    .wrapper {
        vertical-align: top;
        margin-left: auto;
        margin-right: auto;
        width: 960px;
    }
</style>
<header>
    <div class="container">
        <div id="topbar">
            <div class="pull-right">
                <div class="navigation">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <i class="zmdi zmdi-menu zmdi-hc-lg"></i>
                    </button>
                    <nav class="collapse navbar-collapse" id="myNavbar">
                        <ul>
                            <li class="active">
                                <a href="">START</a>
                            </li>
                            <li class="active">
                                <a href="">SUBMIT</a>
                            </li>
                            <li class="active">
                                <a href="">RESET</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <h1 class="logo"><a href="index1.html"><img src="http://placehold.it/112x28" alt="Logo"></a></h1>
        </div>
    </div>
</header>

<h1>Header</h1>


<script src="~/js/timer.js"></script>