@model int
@{
    Layout = "~/Views/Shared/QuizComponent/_QuizLayout.cshtml";
    ViewData["Title"] = "Index";
}
@*<style>
        .btn {
            display: inline-block;
        }
    </style>*@
<div class="page-heading text-center">
    <div class="container">
        <h2>Type of quiz: As or prac</h2>
    </div>
</div>
@*<input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <ul class="list-group" id="myList">
        <li class="list-group-item">First item</li>
        <li class="list-group-item">Second item</li>
        <li class="list-group-item">Third item</li>
        <li class="list-group-item">Fourth</li>
    </ul>*@

<div class="row">

    <div class="col-xs-10" style="margin-bottom:0px">
        @*<input class="form-control" id="myInput" type="text" placeholder="Search..">*@
        <div class="lmao" style="margin-top:20px">
            <div class="col-xs-6">
                <div class="col-sm-6">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" id="formSave" class="btn btn-secondary" data-toggle="modal" data-target="#startModal">Start</button>
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#resetModal">Reset</button>
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#submitModal">Submit</button>
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalLong">
                            Instruction
                        </button>
                    </div>
                </div>
                <div class="col-sm-4">
                    @await Html.PartialAsync("QuizComponent/_ModalSubmit")
                    @await Html.PartialAsync("QuizComponent/_ModalStart")
                    @await Html.PartialAsync("QuizComponent/_ModalReset")
                    @await Html.PartialAsync("QuizComponent/_ModalInstruction")
                    @*<div class="col-sm-2">
                            <button type="button" class="btn btn-primary">Start</button>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-danger">Reset</button>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-success">Submit</button>
                        </div>*@
                </div>

            </div>

        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-xs-8">
        <div class="col-xs-6">
            <h1>lamo</h1>
        </div>
        <div class="col-xs-4" style="float:right; text-align:right">
            <h1>Weight:</h1>
        </div>
    </div>
</div>
<div class="row">
     
    <div class="col-xs-8">
        <div class="col-xs-10">
            <div id="div1" class="infoDiv" name="div1" style="display:none;">
                <h1>MCQ quiz</h1>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="q" id="option1">
                    <label class="form-check-label" for="option1">Option 1</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="q" id="option2">
                    <label class="form-check-label" for="option2">Option 2</label>
                </div>
                <div class="form-check">
                    <input type="radio" name="q" id="option3" class="form-check-input">
                    <label class="form-check-label" for="option3">Option 3</label>
                </div>
                <div class="form-check">
                    <input type="radio" name="q" id="option4" class="form-check-input">
                    <label class="form-check-label" for="option4">Option 4</label>
                </div>
            </div>
            <div id="div2" class="infoDiv" style="display:none;">
                <h1>constructed-response</h1>
                <input type="text" name="div2" />
            </div>
            <div id="div3" class="infoDiv" style="display:none;">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Example textarea</label>
                    <textarea class="form-control" id="div2" rows="3" name="div2"></textarea>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <span class="vertical-line"></span>
        </div>
    </div>

    <div class="col-xs-4" style="padding-left:5px">
        <div class="col-xs-6" style="padding-left:5px">
            <div>Timer</div>
            <div id="timer"></div>
            <div hidden>
                <button id="start-button">Start</button>
                <button id="stop-button">Stop</button>
                <button id="reset-button">Reset</button>
            </div>
            <h4>Navigation</h4>
            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-secondary info" id="1">1</button>
                    <button type="button" class="btn btn-secondary info" id="2">2</button>
                    <button type="button" class="btn btn-secondary info" id="3">3</button>
                    <button type="button" class="btn btn-secondary info" id="4">4</button>
                </div>
                <input type="range" orient="vertical" min="1.2" max="2.6" step=".2" id="slider" />
                <p id="p1">lamof</p>
                @*<div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text" id="btnGroupAddon"></div>
                        </div>
                    </div>*@
            </div>

        </div>
    </div>
</div>
@*<p>Click the button to turn the confirm on and off</p>
    <div style="display: None">
        <button id="theButton">true</button>
    </div>*@


@*<label for="db">Type whatever</label>*@
@*<input type="text" name="amount" />*@
@*<div id="yeah" style="display:none;">
        <input type="submit" />
    </div>*@

<script src="~/js/trung.js"></script>
<script src="~/js/timer.js"></script>
<script>
    var test = true;

    function otherTest() {
        return true;
    }

    addEventListener('beforeunload', function (event) {
        if (!test || !otherTest()) {
            event.returnValue = 'You have unsaved changes.';
        }

    });

    document.getElementById('theButton').addEventListener('click', function (event) {
        test = !test;
        this.innerHTML = test.toString();
    });

</script>
<script>
    var question_constructed = ["div1", "div2", "div3", "q4"]

    $.each(question_constructed, function (index, value) {
        //$('textarea#message').val()
        //$('textarea[name="product_question"]', this).val()
        $('textarea[name=' + value + ']').keyup(function () {
            if ($(this).val().length)
                //$('#yeah').show();
                $("#" + (index + 1)).attr('class', 'btn btn-primary info');
            //else
            //    $("#" + (index + 1)).attr('class', 'btn btn-secondary info');
        });
    });

    var question_mcq = ["q", "q2", "q3", "q4"]
    $.each(question_mcq, function (index, value) {
        $("input[name=" + value + "]").on('change', function () {
            if ($(this).attr('checked')) {
                $("#" + (index + 1)).attr('class', 'btn btn-primary info');
            }
            else {
                $("#" + (index + 1)).attr('class', 'btn btn-secondary info');
            }
        });
    });


    $.each(['div', 'p'], function (index, value) {

        $('input').on('input', function () {
            var v = $(this).val();
            $("#" + value + 1).css('font-size', v + 'em');
        });
        //$('p').css('font-size', v + 'em')
    });

    //$('input[name=amount]').keyup(function () {
    //    if ($(this).val().length)
    //        //$('#yeah').show();
    //        $("#2").attr('class', 'btn btn-primary info');
    //    else
    //        $("#2").attr('class', 'btn btn-secondary info');
    //});



</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<style>
    .vertical-line {
        display: inline-block;
        border-left: 1px solid #ccc;
        height: 125px;
    }

    .col-xs-2 {
        width: 0px;
        padding: 0px;
        margin: 0px;
        float: right;
    }
</style>
