@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using SWP391.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{

    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        // Layout = "/Areas/Identity/Pages/_Layout.cshtml";
        // Sử dụng tiếp Layout chung /Pages/Shared/_Layout.cshtml
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    var user = UserManager.GetUserAsync(User).Result;
}


<style>
    .profile-content-bx {
        border: 0px solid #e9e9e9;
    }
</style>

<div class="page-content bg-white">
    <!-- inner page banner -->
    <div class="page-banner ovbl-dark" style="background-image:url(../../assets/images/banner/banner1.jpg);">
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-white">Profile</h1>
            </div>
        </div>
    </div>
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="#">Home</a></li>
                <li>Profile</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <!-- inner page banner END -->
    <div class="content-block">
        <!-- About Us -->
        <div class="section-area section-sp1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-12 m-b30">
                        <div class="profile-bx text-center">
                            <div class="user-profile-thumb">
                                <img src="~/img/@user.ProfilePictureURL" alt="" />
                            </div>
                            <div class="profile-info">
                                <h4>@UserManager.GetUserName(User).ToUpper()</h4>
                                <span>Hello</span>
                            </div>
                            <div class="profile-social">
                                <ul class="list-inline m-a0">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                            <div class="profile-tabnav">
                                <partial name="_ManageNav" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-12 m-b30">
                        <div class="profile-content-bx">
                            <div class="tab-content">
                                @RenderBody()
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
