
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body id="courses-list" class="page">

    <main>

        <div class="page-heading text-center">
            <div class="container">
                <div class="pull-right">
                    <ul class="grid-opts">
                        <li><a class="active" href="#"><i class="zmdi zmdi-view-list zmdi-hc-lg"></i></a></li>
                        <li>
                            <a href="#"><i class="zmdi zmdi-view-module zmdi-hc-lg"></i></a>
                        </li>
                    </ul>
                </div>
                <h2>OUR COURSES</h2>
            </div>
        </div>
        <div class="container courses-browse popular no-gutters">
            <div class="row toolbar">
                <div class="col-md-4 col-sm-6 col-xs-12 select-categories">
                    <select class="jquery-select">
                        <option>choose a category</option>
                        <option value="1">Category 1</option>
                        <option value="2">Category 2</option>
                        <option value="3">Category 3</option>
                    </select>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 select-numofvids">
                    <select class="jquery-select">
                        <option>choose a teacher</option>
                        <option value="1">Teacher 1</option>
                        <option value="2">Teacher 2</option>
                        <option value="3">Teacher 3</option>
                    </select>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 select-name">
                    <select class="jquery-select">
                        <option>sort by</option>
                        <option value="1">sort by 1</option>
                        <option value="2">sort by 2</option>
                        <option value="3">sort by 3</option>
                    </select>
                </div>
                <div class="col-sm-6 col-xs-12 text-keywords">
                    <input class="keywords" name="keywords" type="text" placeholder="keywords">
                </div>
                <div class="col-sm-6 col-xs-12 search-button">
                    <button class="search-teachers">SEARCH</button>
                </div>
            </div>
            <div class="row tutorial">
                <div class="col-sm-4">
                    <img src="http://place-hold.it/370x271" class="resp-img" alt="Tutorial">
                </div>
                <div class="col-sm-8">
                    <div class="tutorial-details">
                        <div class="pull-right fav favorite">
                            <i class="zmdi zmdi-star"></i><span>IN FAVORITES</span>
                        </div>
                        <h6>How to become an UX engineer</h6>
                        <p><span class="lessons"><i class="zmdi zmdi-assignment"></i>12 LESSONS</span><span class="duration"><i class="zmdi zmdi-time"></i>3:15h</span></p>
                        <p class="abs">
                            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.
                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
                            nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue
                            duis dolore te feuga.
                        </p>
                        <a href="#" class="greybutton">VIEW COURSE</a>
                    </div>
                </div>
            </div>
            <div class="row tutorial">
                <div class="col-sm-4">
                    <img src="http://place-hold.it/370x271" class="resp-img" alt="Tutorial">
                </div>
                <div class="col-sm-8">
                    <div class="tutorial-details">
                        <div class="pull-right fav">
                            <a href="#"><i class="zmdi zmdi-star"></i></a><span>ADD TO FAVORITES</span>
                        </div>
                        <h6>How to create wooden things</h6>
                        <p><span class="lessons"><i class="zmdi zmdi-assignment"></i>3 LESSONS</span><span class="duration"><i class="zmdi zmdi-time"></i>1:41h</span></p>
                        <p class="abs">
                            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.
                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
                            nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue
                            duis dolore te feuga.
                        </p>
                        <a href="#" class="greybutton">VIEW COURSE</a>
                    </div>
                </div>
            </div>
            <div class="row tutorial">
                <div class="col-sm-4">
                    <img src="http://place-hold.it/370x271" class="resp-img" alt="Tutorial">
                </div>
                <div class="col-sm-8">
                    <div class="tutorial-details">
                        <div class="pull-right fav">
                            <i class="zmdi zmdi-star"></i><span>ADD TO FAVORITES</span>
                        </div>
                        <h6>Repair your own things</h6>
                        <p><span class="lessons"><i class="zmdi zmdi-assignment"></i>47 LESSONS</span><span class="duration"><i class="zmdi zmdi-time"></i>10:15h</span></p>
                        <p class="abs">
                            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.
                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
                            nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue
                            duis dolore te feuga.
                        </p>
                        <a href="#" class="greybutton">VIEW COURSE</a>
                    </div>
                </div>
            </div>
            <div class="row tutorial">
                <div class="col-sm-4">
                    <img src="http://place-hold.it/370x271" class="resp-img" alt="Tutorial">
                </div>
                <div class="col-sm-8">
                    <div class="tutorial-details">
                        <div class="pull-right fav">
                            <i class="zmdi zmdi-star"></i><span>ADD TO FAVORITES</span>
                        </div>
                        <h6>Working with Adobe Photoshop</h6>
                        <p><span class="lessons"><i class="zmdi zmdi-assignment"></i>32 LESSONS</span><span class="duration"><i class="zmdi zmdi-time"></i>8:15h</span></p>
                        <p class="abs">
                            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.
                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
                            nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue
                            duis dolore te feuga.
                        </p>
                        <a href="#" class="greybutton">VIEW COURSE</a>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-xs-12">
                    <div class="paginations">
                        <a class="prev" href="#"><i class="zmdi zmdi-chevron-left"></i>PREV</a>
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a class="next" href="#">NEXT<i class="zmdi zmdi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>


    </main>

</body>

