
@{
    Layout = "~/Views/Shared/_SharedLayout.cshtml";
    ViewData["Title"] = "Index";
}

<div class="page-heading text-center">
    <h2>SINGLE COURSE</h2>
    <div class="container">
        <div class="col-md-8">
                <iframe src="https://drive.google.com/file/d/1Fs7-iicL37cLXndyMEO7vi4wP66J0nai/preview" width="640" height="360" allowfullscreen="" frameborder="0">
                </iframe>
            </div>
            <div class="col-md-4">
                <div class="categories">
                    <ul>
                        <li><a href="#">Business (18)</a></li>
                        <li><a href="#">CMS (14)</a></li>
                        <li><a href="#">Design (17)</a></li>
                        <li><a href="#">Development (23)</a></li>
                        <li><a href="#">Humanities (17)</a></li>
                        <li><a href="#">Mecidine (8)</a></li>
                        <li><a href="#">Music (47)</a></li>
                        <li><a href="#">Photography (68)</a></li>
                        <li><a href="#">Photoshop (87)</a></li>
                        <li><a href="#">IT &amp; Software (41)</a></li>
                        <li><a href="#">Lifestyle (54)</a></li>
                        <li><a href="#">Languages (83)</a></li>
                        <li><a href="#">SEO (39)</a></li>
                        <li><a href="#">Marketing (44)</a></li>
                        <li><a href="#">Video Production (33)</a></li>
                    </ul>

                </div>
           
        </div>
</div>
    </div>