
@{

    ViewData["Title"] = "ChangePassword";
    User u = new User()
    {
        Id = Model.Id,
        Full_Name = Model.Full_Name,
        Avatar_Url = Model.Avatar_Url,
        Dob = Model.Dob

    };

}

@model SWP391_OnlineLearning_Platform.Models.ViewModels.Change_PasswordVM


<div class="container">
    <div class="row profile">

        @await Html.PartialAsync("~/Views/Shared/_UserProfilePartial.cshtml",u)
        

        <div class="col-md-9">
            <div class="profile-content">
                <div class="text-center">
                    <h3 style="margin-top:20px">CHANGE PASSWORD</h3>
                </div>
                <form method="post" asp-action="changePassword">
                    <div class="form-group">
                        <label asp-for="OldPassword" class="control-label">Enter Old Password</label>
                        <input asp-for="OldPassword" placeholder="Enter Your Password" class="form-control" />
                        <span asp-validation-for="OldPassword" class="text-danger">@ViewBag.ErrorMess</span>
                    </div>

                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label">Enter New Password</label>
                        <input asp-for="NewPassword" placeholder="Enter New Password" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label">Confirm New Password</label>
                        <input asp-for="ConfirmPassword" placeholder="Enter New Password Again" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="SAVE" class="btn btn-success" style="margin-left:35%; padding:5px 20px" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



