
@{
    Layout = "_Layout";
    ViewData["Title"] = "resetNewPassword";
}

<head>
    <style>
        h2, p {
            color: black;
        }

        #xxx {
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>

</head>


<body>
    <div class="container" id="xx">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h3>RESET PASSWORD</h3>
            </div>
            <div class="col-md-6" style="float:none;margin:auto;">
                <form action="#" name="registration">
                    <div class="form-group" style="margin-bottom: 5px;">
                        <label for="newPassword" style="font-weight: bold;">Enter new Password: </label>
                        <div class="input-group-append">
                            <input type="password" name="newPassword" id="newPassword" class="form-control" aria-describedby="emailHelp" placeholder="Enter Your Password" />
                        </div>
                    </div>
                    <p style="color: #666; font-weight: 400;">The password should have atleast 8 characters</p>

                    <div class="form-group">
                        <label for="confirmNewPassword" style="font-weight: bold;">Confirm new Password: </label>
                        <input type="password" name="confirmNewPassword" id="confirmNewPassword" class="form-control" aria-describedby="emailHelp" placeholder="Confirm Your Password">
                    </div>
                    <div class="form-group col-md-4 text-center" style="float:none;margin:auto;">
                        <button type="submit" id="sendBtn" class=" btn btn-block mybtn btn-primary tx-tfm" style="background-color: #1db954;">CONFIRM</button>
                    </div>

                    <div class="form-group">
                        <p class="text-center"><a href="#" id="signin">Dont get email?</a></p>
                    </div>
                </form>
            </div>

        </div>
    </div>

</body>

<script>
    $(function () {
        $("form[name='registration']").validate({
            rules: {
                password: {
                    required: true,
                    minlength: 8
                }
            },

            messages: {
                password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 8 characters long"
                },
            },

            submitHandler: function (form) {
                form.submit();
            }
        });
    });

    function password_show_hide(c) {
        var x = document.getElementById(c);
        var show_eye = document.getElementById("show_eye");
        var hide_eye = document.getElementById("hide_eye");
        hide_eye.classList.remove("d-none");
        if (x.type === "password") {
            x.type = "text";
            show_eye.style.display = "none";
            hide_eye.style.display = "block";
        } else {
            x.type = "password";
            show_eye.style.display = "block";
            hide_eye.style.display = "none";
        }
    }
</script>

