
@{
    Layout = "_Layout";
    ViewData["Title"] = "resetPassword";
}


<head>
    <style>
        h2, p {
            color: black;
        }

        #xxx {
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>

</head>

<body>
    <div class="container" id="xxx">
        <div class="row justify-content-center">
            <div class="col-md-11 text-center" style="float:none;margin:auto;">
                <h3>RESET PASSWORD</h3>
                <p style="color:black;">Enter your <span style="font-weight: bold;">username</span> , or the <span style="font-weight: bold;">email address</span> that you used to register. We'll send you an email with your username and a link to reset your password.</p>
            </div>
            <div class="col-md-6" style="float:none;margin:auto;">
                <form action="" method="post" name="login">
                    <div class="form-group">
                        <label for="exampleInputEmail1" style="font-weight: bold;">Email address or username: </label>
                        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter your email">
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 text-center" style="float:none;margin:auto;">
                            <button type="submit" id="sendBtn" class=" btn btn-block mybtn btn-primary tx-tfm" style="background-color: #1db954;border: 1px black;">SEND</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <p class="text-center">If you still need help, contact<a href="#" id="signup" style="color: #1db954;"> InfinityLearning Support.</a></p>
                    </div>
                </form>
            </div>

        </div>
    </div>
</body>

<script>
    $(function () {
        $("form[name='login']").validate({
            rules: {

                email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                email: "Please enter a valid email address",

            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>

