
@{
    ViewData["Title"] = "Import";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Import</h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input class="form-control custom-file-input" type="file">
    </div>
    <div class="form-group">
        <input type="submit" value="SAVE" class="btn btn-success" style="margin-left:35%; padding:5px 20px" />
    </div>
</form>

