
@model IEnumerable<SWP391_OnlineLearning_Platform.Models.Price_Package>
@{
    ViewData["Title"] = "CourseRegister";
}

<main>

    <div class="page-heading text-center">
        <div class="container">
            <h2>PRICING PLANS</h2>
        </div>
    </div>
    <div class="container pricings">
        <div class="row text-center">
            @foreach (var p in Model)
            {
                <div class="col-md-4 col-sm-6">
                    <div class="plan">
                        <p class="ribbon">MOST POPULAR</p>
                        <p class="price">@p.List_price</p>
                        <p class="crew">@p.Name</p>
                        <div class="plan-details">
                            <p>Unlimited Courses</p>
                            <p>Online pass purchases</p>
                            <p>Online class reservations</p>
                            <p>Full Library Entry</p>
                            <p>Promo Code feature</p>
                        </div>
                        <a href="#"><i class="zmdi zmdi-arrow-right"></i>FREE TRIAL</a>
                        <a asp-action="CourseRegister" asp-controller="Course" asp-route-price_Id="@p.Id"><i class="zmdi zmdi-arrow-right"></i>ORDER NOW</a>
                    </div>
                </div>
            }
            @*<div class="col-md-3 col-sm-6">
                <div class="plan">
                    <p class="ribbon">MOST POPULAR</p>
                    <p class="price">45</p>
                    <p class="crew">1-5 PROFESSIONALS</p>
                    <div class="plan-details">
                        <p>Unlimited Courses</p>
                        <p>Online pass purchases</p>
                        <p>Online class reservations</p>
                        <p>Full Library Entry</p>
                        <p>Promo Code feature</p>
                    </div>
                    <a href="#"><i class="zmdi zmdi-arrow-right"></i>FREE TRIAL</a>
                    <a href="#"><i class="zmdi zmdi-arrow-right"></i>ORDER NOW</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="plan mostpopular">
                    <p class="ribbon">MOST POPULAR</p>
                    <p class="price">59</p>
                    <p class="crew">6-10 PROFESSIONALS</p>
                    <div class="plan-details">
                        <p>Unlimited Courses</p>
                        <p>Online pass purchases</p>
                        <p>Online class reservations</p>
                        <p>Full Library Entry</p>
                        <p>Promo Code feature</p>
                    </div>
                    <a href="#"><i class="zmdi zmdi-arrow-right"></i>FREE TRIAL</a>
                    <a href="#"><i class="zmdi zmdi-arrow-right"></i>ORDER NOW</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="plan">
                    <p class="ribbon">MOST POPULAR</p>
                    <p class="price">99</p>
                    <p class="crew">11-15 PROFESSIONALS</p>
                    <div class="plan-details">
                        <p>Unlimited Courses</p>
                        <p>Online pass purchases</p>
                        <p>Online class reservations</p>
                        <p>Full Library Entry</p>
                        <p>Promo Code feature</p>
                    </div>
                    <a href="#"><i class="zmdi zmdi-arrow-right"></i>FREE TRIAL</a>
                    <a href="#"><i class="zmdi zmdi-arrow-right"></i>ORDER NOW</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="plan">
                    <p class="ribbon">MOST POPULAR</p>
                    <p class="price">119</p>
                    <p class="crew">OVER 15 PROFESSIONALS</p>
                    <div class="plan-details">
                        <p>Unlimited Courses</p>
                        <p>Online pass purchases</p>
                        <p>Online class reservations</p>
                        <p>Full Library Entry</p>
                        <p>Promo Code feature</p>
                    </div>
                    <a href="#"><i class="zmdi zmdi-arrow-right"></i>FREE TRIAL</a>
                    <a href="#"><i class="zmdi zmdi-arrow-right"></i>ORDER NOW</a>
                </div>
            </div>*@
        </div>
    </div>

</main>

