@model SWP391.Models.QuestionBank

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>QuestionBank</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuestionId" class="control-label"></label>
                <input asp-for="QuestionId" class="form-control" />
                <span asp-validation-for="QuestionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer" class="control-label"></label>
                <input asp-for="Answer" class="form-control" />
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Explanation" class="control-label"></label>
                <input asp-for="Explanation" class="form-control" />
                <span asp-validation-for="Explanation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuizLevelId" class="control-label"></label>
                <select asp-for="QuizLevelId" class ="form-control" asp-items="ViewBag.QuizLevelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CourseId" class="control-label"></label>
                <select asp-for="CourseId" class ="form-control" asp-items="ViewBag.CourseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OptionA" class="control-label"></label>
                <input asp-for="OptionA" class="form-control" />
                <span asp-validation-for="OptionA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OptionB" class="control-label"></label>
                <input asp-for="OptionB" class="form-control" />
                <span asp-validation-for="OptionB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OptionC" class="control-label"></label>
                <input asp-for="OptionC" class="form-control" />
                <span asp-validation-for="OptionC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OptionD" class="control-label"></label>
                <input asp-for="OptionD" class="form-control" />
                <span asp-validation-for="OptionD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" class ="form-control" asp-items="ViewBag.StatusId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

