@page
@model LockoutModel
@{
    ViewData["Title"] = "LOCKED";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account was temporary locked, try again later.</p>
</header>