@page "/login/"
@model LoginModel

@{
    ViewData["Title"] = "LOGIN";
    Layout = "~/Views/Shared/CustomLayout/_LayoutBigPic.cshtml";
}

    <div class="page-wraper">
        <div id="loading-icon-bx"></div>
        <div class="account-form">
            <div class="account-head" style="background-image:url(assets/images/background/bg2.jpg);">
                <a asp-controller="Home" asp-action="Index"><img src="~/assets/images/logo/logo.png"  alt=""></a>
            </div>
            <div class="account-form-inner">
                <div class="account-container">
                    <div class="heading-bx left">
                        <h2 class="title-head">Login to your <span>Account</span></h2>
                        <p>Don't have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create one here.</a></p>
                    </div>	
                    <section>
                    <form class="contact-bx" id="account" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="row placeani">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <label asp-for="Input.UserNameOrEmail"></label>
                                        <input asp-for="Input.UserNameOrEmail" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="input-group"> 
                                        <label asp-for="Input.Password"></label>
                                        <input asp-for="Input.Password" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group form-forget">
                                    <div class="custom-control custom-checkbox">
                                            <input  type="checkbox" class="custom-control-input" id="customControlAutosizing" asp-for="Input.RememberMe" />
                                            <label class="custom-control-label" for="customControlAutosizing" asp-for="Input.RememberMe"></label>
                                           
                                    </div>
                                    <a  class="ml-auto" id="forgot-password" asp-page="./ForgotPassword">Forgot password?</a>
                                </div>
                            </div>
                            <div class="col-lg-12 m-b30">
                                <button name="submit" type="submit" value="Submit" class="btn button-md">Login</button>
                            </div>
                        </div>
                    </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
