@page "/RegisterConfirmation/"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "REGISTER CONFIRMATION";
    Layout = "~/Views/Shared/CustomLayout/_LayoutBigPic.cshtml";
}


<div class="page-wraper">
    <div id="loading-icon-bx"></div>
    <div class="account-form">
        <div class="account-head" style="background-image:url(assets/images/background/bg2.jpg);">
            <a asp-controller="Home" asp-action="Index"><img src="~/assets/images/logo/logo.png" alt=""></a>
        </div>
        <div class="account-form-inner">
            <div class="account-container">
                <div class="heading-bx left">
                    <h2 class="title-head">Register <span>Confirmation</span></h2>
                    <p>An email has been sent to your email, please open it and follow the instruction in this email and <a href="@Model.UrlContinue">Click here to continue</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
