@page "/RegisterConfirmation/"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Xác nhận đăng ký";
    Layout = "~/Views/Shared/CustomLayout/_LayoutRegisterConfirmation.cshtml";
}

<h1>@ViewData["Title"]</h1>
<p>
    An email has been sent to your email, please open it and follow the instruction in this email and
    <a href="@Model.UrlContinue">Click here to continue</a>
</p>