@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "RESET PASSWORD";
}

<h1>@ViewData["Title"]</h1>
<p>
    Password has been reseted. <a asp-page="./Login">To log in, click here</a>.
</p>