@model List<SWP391_OnlineLearning_Platform.Controllers.ExampleController.Student>;
@{
    ViewData["Title"] = "Home Page";
    //var students = ViewBag.students as List<SWP391_OnlineLearning_Platform.Controllers.ExampleController.Student>;
    var students = ViewData["students"] as List<SWP391_OnlineLearning_Platform.Controllers.ExampleController.Student>;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div>
    <table class="table">
        <tr>
            <td>id</td>
            <td>Fname</td>
            <td>Lname</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Fname</td>
                <td>@item.Lname</td>
            </tr>
        }
    </table>

</div>