@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "LESSON";
    Layout = "~/Views/Shared/_LayoutNoContainer.cshtml";
}
<style>
    .lesson-container {
        margin: 0 5%;
    }

    .lesson-main {
        margin: 0 0 10px 0;
    }
</style>
@await Html.PartialAsync("~/Views/Shared/Modal/Lesson/_ModalCourseOvw.cshtml")
<div class="lesson-container">
    <main role="main" class="pb-3">
        <div class="row lesson-main">
            <h1>Course Name</h1>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="video">
                    <video src="https://www.html5rocks.com/en/tutorials/video/basics/devstories.mp4" width="100%" muted autoplay controls></video>
                    <h3 class="title">Title</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row lesson-main">
                    @*            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                        Course Objectives
                        </button>*@
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-primary">Objectives</button>
                        <button type="button" class="btn btn-outline-info">Note</button>
                        <button type="button" class="btn btn-outline-danger">Report</button>
                    </div>
                </div>
                <div class="accordion" id="accordionExample">
                    @for (var i = 0; i < 4; i++)
                   {
                        @:<div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Topic #1
                                </button>
                            </h2>
                        </div>

                        @:<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                           @:<div class="card-body">
                                @:<ul class="list-group">
                                    <li class="list-group-item">
                                        <p style="margin-bottom:0"><i class="far fa-play-circle"></i> Lmao</p>
                                        <p class="title-vid" hidden>Title 1</p>
                                        <a href="https://drive.google.com/u/0/uc?id=1Fs7-iicL37cLXndyMEO7vi4wP66J0nai&export=download" hidden></a>
                                    </li>
                                    <li class="list-group-item">Dapibus ac facilisis in</li>
                                    <li class="list-group-item">Morbi leo risus</li>
                                    <li class="list-group-item">Porta ac consectetur ac</li>
                                    <li class="list-group-item">Vestibulum at eros</li>
                                    @:</br>
                                @:</ul>
                                <div class="list-group">
                                    <a href="google.com" class="list-group-item list-group-item-warning">
                                        Cras justo odio
                                    </a>
                                </div>
                            @:</div>
                        @:</div>
                    @:</div>
                   }

                </div>
            </div>
        </div>
    </main>
</div>



<style>
    .accordion .collapse .card-body .vid video {
        width: 100px;
        border-radius: 5px;
    }
</style>

<script>
    let hreflist = document.querySelectorAll('.list-group .list-group-item');
    let mainvideo = document.querySelector('.row .col-md-8 video');
    let maintitle = document.querySelector('.row .col-md-8 .title');

    hreflist.forEach(href => {
        href.onclick = () => {
            hreflist.forEach(vid => vid.classList.remove('active'));
            href.classList.add('active');
            if (href.classList.contains('active')) {
                let src = href.children[2].getAttribute('href');
                mainvideo.src = src;
                let title = href.children[1].innerHTML;
                maintitle.innerHTML = title;
            };
        };
    });

    document.addEventListener('DOMContentLoaded', function() {
        hreflist[0].classList.add("active");
}, false);
   
</script>


<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>