<footer>
        <div class="footer-top"style="padding-bottom:0">
			<div class="pt-exebar" style="margin-bottom:0">
				<div class="container">
					<div class="d-flex align-items-stretch">
						<div class="menu-logo mr-auto">
							<a asp-controller="Home" asp-action="Index"><img src="~/assets/images/logo/logo.png" alt=""/></a>
						</div>
					</div>
				</div>
			</div>
            @*<div class="container">
                <div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12 footer-col-4">
                        <div class="widget">
                            <h5 class="footer-title">Sign Up For A Newsletter</h5>
							<p class="text-capitalize m-b20">Weekly Breaking news analysis and cutting edge advices on job searching.</p>
                            <div class="subscribe-form m-b20">
								<form class="subscription-form" action="http://educhamp.themetrades.com/demo/assets/script/mailchamp.php" method="post">
									<div class="ajax-message"></div>
									<div class="input-group">
										<input name="email" required="required"  class="form-control" placeholder="Your Email Address" type="email">
										<span class="input-group-btn">
											<button name="submit" value="Submit" type="submit" class="btn"><i class="fa fa-arrow-right"></i></button>
										</span> 
									</div>
								</form>
							</div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </footer>
